<div id="wrapper">
  <nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="/">NewScraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
       <div id="clearBtn" class="btn btn-info btn-sm m-1">Clear Articles</div>
      </li>
    </ul>
  </div>
</nav>
  <div class="jumbotron">
    <h1 class="display-4">NewScraper</h1>
    <p class="lead">Get new news from CNN!</p>
  </div>
  <div class="card-deck">
    {{#each article}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <a href="{{this.link}}">Link</a>
        <div id="{{this.id}}" class="btn btn-primary btn-sm">See Notes</div>
      </div>
    </div>
    {{/each}}
  </div>
</div>